include resume-mixins.pug

#main
  #title
    h1 Samuel Dixon
    .subtitle Cloud & Systems Engineer

  .main-block
    h2 #[i.fa.fa-suitcase] Experiences

    +item("Cloud Services Engineer", "AHEAD", "Remote, Chicago, IL", "Present",'Jun 2018')
      :markdown-it
        - Work with a team focused on AWS project delivery
        - Perform AWS engineering tasks in a client facing role
        - Code, test and deploy infrastructure as code using CloudFormation and Packer
        - Develop, test and deliver Python scripts for clients
        - Participate in on-site client workshops and knowledge transfers
        - Create professional documentation of completed work for hand off to clients

    +item("Associate Consultant", "Virtusa", "Indianapolis, IN", "Jun 2018", "Jan 2016")
      :markdown-it
        - Work with a team focused on managed service delivery as well as consulting/professional services
        - Directly support a variety of clients ranging from small business to large enterprise
        - Manage and support a wide variety of technologies with a focus on Microsoft, Linux, and Amazon Web Services
        - Subject matter expert of multiple client environments
        - Maintain documentation, problem management and monitoring tools to improve service delivery
        - Work on client or monitoring submitted incidents with end-to-end ownership of the problem
        - Participate in on-call rotation
        - Coordinate with global resources for planning off hours maintenance

  .main-block
    h2 #[i.fa.fa-folder-open] Selected Projects

    +item("AD Object Import", "Virtusa, Technical Lead", null, "2017")
      :markdown-it
        - Worked with a client to develop a PowerShell script that imported users from a csv file to update Active Directory accounts based off employee ID. Used PowerShell to ensure data in CSV was consistent, only updated relevant fields, and configured logging of what objects were updated. Configured scheduled jobs via PowerShell that would only trigger if certain components were in place.

    +item("AWS Foundational Deployment", "AHEAD, Engineer", null, "2018")
      :markdown-it
        - Worked on a project assisting deploy CloudFormation templates from the AHEAD standard framework for a foundational AWS Build. This involved customizing CloudFormation templates from our base template, creating custom CloudFormation templates to meet specific client needs, deploying the stacks across multiple AWS accounts and validating the deployment was successful.

  .main-block
    h2 #[i.fa.fa-suitcase] Volunteer Experiences
    +item("Assistant Boys Cross Country Coach","Pendleton Heights Middle School", "Pendleton,IN","Present","2017")
  .main-block.concise
    h2 #[i.fa.fa-graduation-cap] Certifications

    +item("AWS Certified Solutions Architect Associate",null, null,"2018")

    +item("Microsoft MTA 98-365 - Server Administration Fundamentals",null,null, "2015")

    +item("CompTIA A+", null,null, "2015")

#sidebar
  #contact.side-block
    h1 Contact Info
    ul
      li #[i.fa.fa-envelope] samljdixon@gmail.com
      li #[i.fa.fa-phone] 317.450.8066
      li #[i.fa.fa-linkedin] linkedin.com/in/samljdixon

  #skills.side-block
    h1 Skills
    ul Operating Systems
      li - Windows Server 2008, 2012, 2016
      li - Red Hat Enterprise Linux/Centos 6,7
    ul Web Servers
      li - IIS 7.5, 8, 10
      li - Apache
    ul Scripting
      li - PowerShell
      li - Python
      li - Bash
    ul Infrastructure As Code
      li - CloudFormation
      li - Terraform
      li - Packer
    ul Configuration Management
      li - SaltStack
      li - Ansible
    ul Source Control
      li - Git
    ul Cloud
      li - Amazon Web Services
    ul Hypervisors
      li - Hyper-V



style
  include resume.scss
